<div ng-if="!isLoggedIn()" class="jumbotron">
  <a href="#!/login" class="btn-sm btn-link">Please login to view home page</a>
</div>
<div ng-if="isLoggedIn()" class="jumbotron">
  <div>
    <h5>Photos</h5>
    <button class="btn-sm btn-primary" ng-click="createAlbum()">Upload album</button>
    <div id="albums-holder">
      <div id="album" ng-repeat="album in albums">
        <img ng-src="{{album.previewImage}}">
        <span>{{album.name}}</span>
      </div>
    </div>
  </div>
  <div ng-if="isAdmin()">
    <p>Is admin</p>
  </div>
</div>

<script type="text/ng-template" id="createAlbumModal.html">
  <div id="member-modal-div">
    <label for="albumName">
      Album Name
    </label>
    <input type="text"
           name="albumName"
           id="albumName"
           class="form-control"
           ng-model="vm.albumName"/>

    <label for="albumDescription">
      Album Description
    </label>
    <input type="text"
           name="albumDescription"
           id="albumDescription"
           class="form-control"
           ng-model="vm.albumDescription"/>
    <label for="albumPhotos">
      Select images:
    </label>
    <input type="file"
           name="albumPhotos"
           id="albumPhotos"
           accept="image/*"
           multiple>
    <button class="btn btn-primary" ng-click="saveAlbum()">Upload album</button>
  </div>
</script>
